.choose-program_margin{
    margin-top: 100px;
    margin-bottom: 100px;
}

.choose-program_styles{
    text-align: center;
}

.choose-program__button{
    width: 170px;
    height: 44px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    display: block;
    margin: 200px auto 0 auto;

    color: #fffefe;
    font-family: 'Gilroy-ExtraBold';
    /*font-size: 1.1rem;*/
    font-weight: 400;
    text-align: center;

    background-color: #fb901d;
    font-size: 1.28rem;
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.3);
}

.choose-program__button_hover:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    transition: 0.7s;
}

.choose-program__header{
    color: #000000;
    font-family: 'Gilroy-ExtraBold';
    font-size: 2.57rem;
    font-weight: 400;
    margin-bottom: 150px;
}

.select-level__size{
    width: 270px;
}

.select-level__beauty {
    border-radius: 10px;
    border: 1px solid #000000;
    background-color: #ffffff;
    padding: 10px;
    padding-right: 0; 
}

.select-level_font{
    color: #000000;
    font-family: 'Gilroy-Light';
    font-size: 1.28rem;
    font-weight: 300;
}

.select-level_margin{
    margin-right: 70px;
}

.control__flex {
    display: flex;
    justify-content: space-around;
}

.control__size {
    width: 1170px;
    margin: 0 auto;
}