<div class="advantages advantages__flex">
    <ul class="list-advantages list-advantages__flex list-advantages_margin list-advantages_font">
        <li class="list-advantages__item">
            <div class="list-advantages__image list-advantages__image_first"></div>
            <p class="list-advantages__text">Рост от новчика<br> до профессионала</p>
        </li>
        <li class="list-advantages__item">
            <div class="list-advantages__image list-advantages__image_second"></div>
            <p class="list-advantages__text">Доступ из любой<br> точки мира</p>
        </li>
        <li class="list-advantages__item">
            <div class="list-advantages__image list-advantages__image_third"></div>
            <p class="list-advantages__text">Форум для <br>обсуждений</p>
        </li>
        <li class="list-advantages__item">
            <div class="list-advantages__image list-advantages__image_fourth"></div>
            <p class="list-advantages__text">Составленный <br>учебный план</p>
        </li>
    </ul>
</div>