.advantages__flex{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.advantages__size {
    min-width: 1170px;
}

.list-advantages_margin{
    margin-top: 100px;
}

.list-advantages__flex{
    display: flex;
    text-align: center;
}

.list-advantages_font{
    color: #000000;
    font-family: 'Gilroy-Light';
    font-size: 1.71rem;
    font-weight: 300;
}

.list-advantages__item{
    display: block;
    list-style-type: none;
    width: 280px;
    height: auto;
}

.list-advantages__image{
    height: 111px;
    width: 111px;
    margin: 0 auto;
}

.list-advantages__text{
    margin-top: 20px;
}

.list-advantages__image_first {
    background: url("../../../images/grow.png") no-repeat;
}

.list-advantages__image_second {
    background: url("../../../images//world.png") no-repeat;
}

.list-advantages__image_third {
    background: url("../../../images/forum.png") no-repeat;
}

.list-advantages__image_fourth {
    background: url("../../../images/plan.png") no-repeat;
}