<div class="slider slider__flex slider__size slider_back-styles">
    <div class="description-slider description-slider__size description-slider_margin">
        <p class="description-slider__header">Skills for you</p>
        <p class="description-slider__content">шаг навстречу успеху</p>
        <p class="description-slider__main">Ты давно хотел попасть в сферу IT технологий, но не хватало смелости и навыка?!<br>Skills for you поможет тебе, ведь именно здесь ты можешь прокачать свой уровень и пройти путь от новчика до профессионала.</p>
        <button class="description-slider__button description-slider__button_hover">Что дальше?</button>
    </div>
    <div class="image-slider image-slider__size image-slider_margin image-slider_back-styles">
    </div>
</div>