<div class="progress-navigation progress-navigation_beauty progress-navigation__size progress-navigation_position">
  <app-lesson-side-header></app-lesson-side-header>
  <app-lesson-side-list></app-lesson-side-list>
</div>

    <!--

    <div class="progress-navigation-list progress-navigation-list_content progress-navigation-list__size">
      <div class="progress-navigation-list__div" src={progressOk} alt="progress okay"></div>
      <p class="progress-navigation-list__later-lesson-name">
        Переменные, операции и типы данных
      </p>
    </div>

    <div class="progress-navigation-list progress-navigation-list_content progress-navigation-list__size">
      <p class="progress-navigation-list__count">3</p>
      <p class="progress-navigation-list__lesson-name">
        Операторы ветвления
      </p>
    </div>
    <div class="progress-navigation-list progress-navigation-list_content progress-navigation-list__size">
      <p class="progress-navigation-list__count">4</p>
      <p class="progress-navigation-list__lesson-name">
        Операторы цикла
      </p>
    </div>
    <div class="progress-navigation-list progress-navigation-list_content progress-navigation-list__size">
      <p class="progress-navigation-list__count">5</p>
      <p class="progress-navigation-list__lesson-name">
        Работа со строками
      </p>
    </div>
    <div class="progress-navigation-list progress-navigation-list_content progress-navigation-list__size">
      <p class="progress-navigation-list__count">6</p>
      <p class="progress-navigation-list__lesson-name">
        Одномерные массивы и алгоритмы работы с ними
      </p>
    </div>
    <div class="progress-navigation-list progress-navigation-list_content progress-navigation-list__size">
      <p class="progress-navigation-list__count">7</p>
      <p class="progress-navigation-list__lesson-name">
        Многомерные массивы
      </p>
    </div>
    <div class="progress-navigation-list progress-navigation-list_content progress-navigation-list__size">
      <p class="progress-navigation-list__count">8</p>
      <p class="progress-navigation-list__lesson-name">
        Управление потоком ввода\вывода
      </p>
    </div>
    <div class="progress-navigation-list progress-navigation-list_content progress-navigation-list__size">
      <p class="progress-navigation-list__count">9</p>
      <p class="progress-navigation-list__lesson-name">
        Обработка исключений
      </p>
    </div>
    <div class="progress-navigation-list progress-navigation-list_content progress-navigation-list__size">
      <p class="progress-navigation-list__count">10</p>
      <p class="progress-navigation-list__lesson-name">
        Введение в методы
      </p>
    </div>
  </div>-->

