.progress-navigation__size {
    width: 400px;
}

.progress-navigation_position {
    margin-top: 100px;
}

.progress-navigation_beauty {
    border-radius: 10px;
    border: 1px solid #cfcdcd;
    background-color: #fdfcfc;
}