.lesson-header__name {
    font-size: 2.14rem;
    color: #000000;
    font-family: "Gilroy-ExtraBold";
}

.content_margin {
    margin-top: 100px;
}

.content__size {
    width: 80%;
}

.lesson-header__count {
    font-size: 1.28rem;
    color: #716d6d;
    font-family: 'Gilroy-Light';
}

.lesson-description__content {
    font-size: 1.43rem;
    color: #000000;
    font-family: 'Gilroy-Light';
}

.lesson-description_position {
    margin-top: 50px;
}
