<div class="content content_margin">
  <div class="lesson-header">
    <p class="lesson-header__name">Операторы ветвленния</p>
    <p class="lesson-header__count">Занятие #3</p>
  </div>
  <div class="lesson-description lesson-description_position">
    <p class="lesson-description__content">
      По сложившийся ситуации традиции первая программа на изучаемом языке программирования должна выводить строку Hello, world.
      Текст такой программы на Java выглядит следующим образом:
    </p>
  </div>
  <div class="example example_position example__size example_beauty">
  </div>
</div>
