.page__flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.page_margin {
    margin: 0 auto;
}
.page__size {
    width: 1170px;
}

.cards__content {
    max-width: 1170px;
    display: flex;
    flex-wrap: wrap;
}
