<div class="social social__size social_margin">
    <p class="social__header">Мы в социальных сетях</p>
    <ul class="social-list social-list_margin social-list_font">
        <li class="social-list__item"><a href="https://www.facebook.com/" target="_blank" class="social-list__link"><div class="social-list__image social-list__image_fb"></div></a></li>
        <li class="social-list__item"><a href="https://www.viber.com/ru/" target="_blank" class="social-list__link"><div class="social-list__image social-list__image_vb"></div></a></li>
        <li class="social-list__item"><a href="https://vk.com/" target="_blank" class="social-list__link"><div class="social-list__image social-list__image_vk"></div></a></li>
    </ul>
</div>