<div class="content content__beauty content__restriction-width">
  <div class="page page__size page_margin page_padding-top">
    <div class="container-404-error container-404-error__size">
      <div class="container-image container-image__position-lt">
        <div class="container-image__image-left-top"></div>
      </div>
      <div class="container-image container-image__position-rt">
        <div class="container-image__image-right-top"></div>
      </div>
      <div class="error-404 error-404_padding">
        <p class="error-404__content">
          404
        </p>
      </div>
      <div class="error-404 error-404__position-info">
        <p class="error-404__content error-404__content_info">
          Упс!
        </p>
        <p class="error-404__content error-404__content_info">
          Страничка не найдена :(
        </p>
      </div>
      <div class="control">
        <a routerLink="/">
          <button class="control__button">На главную</button>
        </a>
      </div>
      <div class="container-image container-image__position-man">
        <div class="container-image__image-man"></div>
      </div>
      <div class="container-image container-image__position-lb">
        <div class="container-image__image-left-bottom"></div>
      </div>
    </div>
  </div>
</div>
