.page_margin{
    margin: 0 auto;
}

.page__size{
    width: 1170px;
}

.page__flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.main__size {
    width: 1170px;
}

.main_margin {
    margin: 0 auto;
}

.main_content {
    display: flex;
    justify-content: space-between;
}

.page_BUG {
    width: 800px;
}