<nav class="navigation">
  <ul class="navigation-list navigation-list_margin navigation-list_font">
    <a routerLink="" class="navigation-list__link navigation-list__link_hover">
      <button class="navigation-list__item"><li>О проекте</li></button>
    </a>
    <a [routerLink]="['']" fragment="coursesLink" (click)="anchorClick()" class="navigation-list__link navigation-list__link_hover">
      <button class="navigation-list__item"><li>Ваши возможности</li></button>
    </a>
    <a [routerLink]="['']" fragment="coursesLink" (click)="anchorClick()" class="navigation-list__link navigation-list__link_hover">
      <button class="navigation-list__item"><li>Учебные курсы</li></button>
    </a>
    <a [routerLink]="['']" fragment="footerLink" (click)="anchorClick()" class="navigation-list__link navigation-list__link_hover">
      <button class="navigation-list__item"><li>Контакты</li></button>
    </a>
  </ul>
</nav>
