<nav class="navigation">
    <ul class="navigation-list navigation-list_margin navigation-list_font">
        <a class="navigation-list__link navigation-list__link_hover" routerLink ="/"><li class="navigation-list__item">О проекте</li></a>
        <a class="navigation-list__link navigation-list__link_hover"><li class="navigation-list__item">Ваши возможности</li></a>
        <a href="#coursesLink" class="navigation-list__link navigation-list__link_hover"><li class="navigation-list__item">Учебные курсы</li></a>
        <a href="#footerLink" class="navigation-list__link navigation-list__link_hover"><li class="navigation-list__item">Контакты</li></a>
    </ul>
</nav>
