<div class="home-work home-work__size home-work_beauty home-work_position" *ngFor = "let lesson of lessons">
  <div class="home-work__header">
    <div class="home-work__image"></div>
    <p class="home-work__p">Домашнее задание</p>
    <a routerLink = "/file-for-download">
      <button class="home-work__link">Файлы для скачивания</button>
    </a>
  </div>
  <div class="home-work__description">
    <p class="home-work__main-text">
      {{lesson.homeWorkLesson}}
    </p>
  </div>
  <div class="home-work__info">
    <div class="home-work__image-info"></div>
    <p class="home-work__text-info">
      <span class="home-work__text-info_light">Преподаватель: </span>
      {{lesson.nameTeacherLesson}}
    </p>
    <a href = "https://github.com/stricozetc" target="_blank">
      <button class="home-work__link">
        Кто проверяет ДЗ?
      </button>
    </a>
  </div>
</div>
