.home-work__size {
  width: 570px;
}

.home-work_position {
  margin-top: 50px;
  margin-bottom: 50px;
}

.home-work_beauty {
  border: 1px solid #cfcdcd;
  background-color: #fcfcfc;
  border-radius: 10px;
}

.home-work__header {
  border-bottom: 1px solid #cfcdcd;
  padding-top: 36px;
  padding-bottom: 22px;
  padding-left: 13px;
  display: flex;
  justify-content: space-around;
}

.home-work__image {
  width: 43px;
  height: 43px;
  padding-right: 41px;
  background: url("../../../images/studentCup.png") no-repeat;
}

.home-work__p {
  color: #010101;
  font-size: 1.4rem;
  font-family: "Gilroy-ExtraBold";
  padding-right: 65px;
}

.home-work__link {
  border: none;
  background: inherit;
  outline: none;
  color: #0d6672;
  font-size: 1rem;
  font-family: "Gilroy-Light";
  height: 20px;
  line-height: 1.5;
  cursor: pointer;
  padding-top: 5px;
}

.home-work__description {
  padding: 30px 40px 100px 30px;
  color: #5b5a5a;
  font-size: 1.28rem;
  font-family: "Gilroy-Light";
}

.home-work__info {
  border-top: 1px solid #cfcdcd;
  padding-top: 36px;
  padding-bottom: 22px;
  padding-left: 25px;
  display: flex;
}

.home-work__image-info {
  width: 33px;
  height: 42px;
  background: url("../../../images/cards-tacher-img.png") no-repeat;
}

.home-work__text-info {
  font-size: 1.2rem;
  font-family: "Gilroy-Light";
  color: #000000;
  padding-right: 85px;
  padding-left: 10px;
  padding-top: 10px;
}

.home-work__text-info_light {
  color: #716d6d;
}
