@font-face{
    font-family: 'Gilroy-Light';
    src: url('./fonts/gilroy-light.otf');
}

@font-face{
    font-family: 'Gilroy-ExtraBold';
    src: url('./fonts/gilroy-extra-bold.otf');
}

body {
    padding: 0;
    margin: 0;
}

html {
    font-size: 14px;
}

p {
    padding: 0;
    margin: 0;
}